* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.validate-error {
  border-radius: 5px !important;
  box-shadow: 0 0 8px red !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  main {
    flex: 1;
  }
}

.row {
  margin-bottom: 0 !important;
}

nav {
  .brand-logo {
    font-size: 1.6rem !important;
  }
}

#mobile-links {
  padding-top: 8vh;
  li a {
    font-size: 1.5rem;
  }
}

#to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  i {
    font-size: 2em;
  }
}

// switch for sorting with names or timezone
.switch {
  label {
    input[type="checkbox"] + .lever {
      background-color: #faecd7 !important;
      &:after {
        background-color: #ffa726 !important;
      }
    }
    input[type="checkbox"]:checked + .lever {
      background-color: #faecd7 !important;
      &:after {
        background-color: #ffa726 !important;
      }
    }
  }
}

.noUi-horizontal {
  height: 12px;
  background-color: #faecd7;
  .noUi-connect {
    background-color: #ffb84e;
  }
  .noUi-handle {
    width: 22px;
    height: 22px;
    right: -11px !important;
    border-radius: 50%;
    background-color: #ffa726 !important;
    box-shadow: none;
    &:before,
    &:after {
      content: none;
    }
  }
  .noUi-marker-large {
    height: 10px;
  }
  .noUi-value-large {
    font-size: 0.9em;
  }
  .noUi-tooltip {
    display: none;
  }
  .noUi-active .noUi-tooltip {
    display: block;
  }
}

#time-slider-sleep.noUi-horizontal {
  background-color: #ffb84e !important;
  .noUi-connect {
    background-color: #faecd7 !important;
  }
}

#timezone-checkbox {
  margin: auto;
  #timezone-checkbox-span {
    padding: 0;
  }
}

#clock {
  #clock-time {
    margin: 0;
  }
  #clock-date {
    margin: 0;
  }
}

#main-day-icon {
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 3rem;
}

.card {
  width: 100%;
  border-radius: 8px;
}

.footer {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  border-top: solid 1px #999;
  h6 {
    width: 100%;
    margin: 0;
  }
}

.friend-details p {
  font-size: 1.3rem;
  margin: 5px 0;
}
